@charset "UTF-8";
/* base
--------------------------------------*/
html {
font-size: 62.5%;
}
body {
font-size: 1.6rem;
font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
color: #333;
}
a {
text-decoration: none;
color: #333;
}
img {
max-width: 100%;
height: auto;
object-fit: cover;
}
figure {
margin: 0;
}
/* layout
________________________________________*/
.ly_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ly_section {
    padding: 0 30px;
    margin-bottom: 120px;
}

/* element
____________________________________________ */
.el_lv2Heading {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 40px;
}
/* block
________________________________________*/
/*ヘッダーlogo*/
.bl_headLogo {
    padding: 30px;
    width: 200px;
}
/*mainImg*/
.bl_mainImg {
    margin-bottom: 80px;
}
/*ハンバーガー*/
.bl_hamburger {
    position: relative;
    width: 50px;
    height: 44px;
    cursor: pointer;
    margin-right: 30px;
}
.bl_hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #444;
    border-radius: 4px;
}
.bl_hamburger, .bl_hamburger span {
    display: inline-block;
    transition: all .5s;
}
.bl_hamburger span:nth-of-type(1) {
    animation: btn-bar1 .75s forwards;
    top: 0;
}
.bl_hamburger span:nth-of-type(2) {
    transition: all .25s .25s;
    opacity: 1;
    top: 20px;
}
.bl_hamburger span:nth-of-type(3) {
    animation: btn-bar3 .75s forwards;
    bottom: 0;
}
@keyframes btn-bar1 {
    0% {
        transform: translateY(20px) rotate(45deg);
    }
    50% {
        transform: translateY(20px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
@keyframes btn-bar3 {
    0% {
        transform: translateY(-20px) rotate(-45deg);
    }
    50% {
        transform: translateY(-20px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.bl_hamburger.active span:nth-of-type(1) {
    animation: active-btn-bar1 .75s forwards;
}
@keyframes active-btn-bar1 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(20px) rotate(0);
    }
    100% {
        transform: translateY(20px) rotate(45deg);
    }
}
.bl_hamburger.active span:nth-of-type(2) {
    opacity: 0;
}
.bl_hamburger.active span:nth-of-type(3) {
    animation: active-btn-bar3 .75s forwards;
}
@keyframes active-btn-bar3 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-20px) rotate(0);
    }
    100% {
        transform: translateY(-20px) rotate(-45deg);
    }
}
/*card*/
.bl_cardUnit {
    margin-bottom: 80px;
}
.bl_cardUnit_img {
    width: 180px;
    height: 120px;
    margin: 0 auto;
    padding-right: 16px;
}
.bl_cardUnit_img > img {
    transform: rotate(-15deg);
}
.bl_cardUnit_img__cording {
    width: 140px;
    padding-top: 15px;
}
/* helper
____________________________________________ */

/*-------------------------
レスポンシブ
--------------------------*/
@media screen and (min-width: 600px) {
    .ly_section_inner {
        width: 400px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1025px) {
    /*layout
    _________________________________________*/
    .ly_section_inner {
        width: 920px;
    }
    /*block
    _________________________________________*/
    .bl_cardUnit_3col {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}